<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <title>聚焦上海Ti9,为中国队加油</title>
</head>
<body class="lsdota2_container_bgc">
<div id="app">
    <div>
        <!--顶部导航-->
        <head-nav v-on:changelanguage="onChangeLanguage" id="page_top" @logined="logined" @logout="logout"
                  ref="headnav"></head-nav>
        <div class="model_container">
            <img :src="activity_json.banner_bg_top" alt="雷神加速器" class="lsdota2_activity_main_banner">
            <img :src="activity_json.banner_logo" alt=""
                 style="position: absolute;bottom: 0px;width:505px; left:50%;margin-left: -252px;">
        </div>
        <div class="model_container">
            <img :src="activity_json.banner_bg_bottom" alt="雷神加速器" class="lsdota2_activity_main_banner"/>
            <img :src="activity_json.banner_bg_foot" alt="雷神加速器" class="lsdota2_activity_main_banner"/>
            <img :src="activity_json.banner_title" alt="" class="dota2_banner_title">
            <div class="activity_model_desc">
                <p>
                    小紫本等级、刀塔PLUS会员应有尽有
                </p>
                <p class="lsdota2_recharge__title">购买套餐</p>
                <p class="lsdota2_recharge__desc">本活动仅限在本页面进行充值的用户参加</p>
            </div>
        </div>
        <div class="model_container" style="height:340px;padding-bottom: 30px;" id="recharge">
            <img src="./images/activity_dota2/banner04.jpg" alt="" style="position: absolute;top: 0;"
                 class="lsdota2_activity_main_banner">
            <!--套餐推荐-->
            <div class="lsdota2_buyPackageBox">
                <ul class="flex_row_center" style="align-items: flex-end;" v-if="currentPacakge.price.length>0">
                    <li class="dota2_package" @click="gotoRecharge(currentPacakge.price[0])" style="margin-left:0px;">
                        <div class="package_hour">
                            <p>{{currentPacakge.price[0].price_title}}小时</p>
                        </div>
                        <div class="package_money">
                            <p>{{currentPacakge.price[0].price_num}}元</p>
                        </div>
                        <div class="packageDiscount">
                            <h2 style="font-size:14px;font-weight:normal;">
                                折扣价：{{currentPacakge.price[0].price_short_desc}}</h2>
                            <p style="height:1px; background-color:#CE9FE2;position: relative;top: -10px;"></p>
                        </div>
                        <div style="margin-top: 20px;">
                            <a class="lsdota2_buyBtn">立即购买</a>
                        </div>
                    </li>
                    <li class="dota2_package" @click="gotoRecharge(currentPacakge.price[1])">
                        <div class="package_hour">
                            <p>{{currentPacakge.price[1].price_title}}小时</p>
                        </div>
                        <div class="package_money">
                            <p>{{currentPacakge.price[1].price_num}}元</p>
                        </div>
                        <div class="packageDiscount">
                            <h2 style="font-size:14px;font-weight:normal;">
                                折扣价：{{currentPacakge.price[1].price_short_desc}}</h2>
                            <p style="height:1px; background-color:#CE9FE2;position: relative;top: -10px;"></p>
                        </div>
                        <div style="margin-top: 20px;">
                            <a class="lsdota2_buyBtn">立即购买</a>
                        </div>
                    </li>
                    <li class="dota2_package" @click="gotoRecharge(currentPacakge.price[2])">
                        <div class="package_hour">
                            <p>{{currentPacakge.price[2].price_title}}小时</p>
                        </div>
                        <div class="package_money">
                            <p>{{currentPacakge.price[2].price_num}}元</p>
                        </div>
                        <div class="packageDiscount">
                            <h2 style="font-size:14px;font-weight:normal;">
                                折扣价：{{currentPacakge.price[2].price_short_desc}}</h2>
                            <p style="height:1px; background-color:#CE9FE2;position: relative;top: -10px;"></p>
                        </div>
                        <div style="margin-top: 20px;">
                            <a class="lsdota2_buyBtn">立即购买</a>
                        </div>
                    </li>
                    <li class="dota2_package" @click="gotoRecharge(currentPacakge.price[3])">
                        <div class="package_hour">
                            <p>{{currentPacakge.price[3].price_title}}小时</p>
                        </div>
                        <div class="package_money">
                            <p>{{currentPacakge.price[3].price_num}}元</p>
                        </div>
                        <div class="packageDiscount">
                            <h2 style="font-size:14px;font-weight:normal;">
                                折扣价：{{currentPacakge.price[3].price_short_desc}}</h2>
                            <p style="height:1px; background-color:#CE9FE2;position: relative;top: -10px;"></p>
                        </div>
                        <div style="margin-top: 20px;">
                            <a class="lsdota2_buyBtn">立即购买</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="model_container" :style="{background: 'url(./images/activity_dota2/banner05.jpg)'}">
            <!--抽奖模块-->
            <div class="lsdota2_choujiangPart">
                <div class="lsdota2_choujiangTitle">
                    <div class="lsdota2_awardNumberBox">
                        <p style="font-size:36px;font-weight: bold">充值抽奖</p>
                        <p style="font-size: 20px;margin-top: 3px;margin-bottom: 14px;">还剩 <span
                                style="color:#fff;font-size:20px;">{{aCount}}</span>次抽奖机会</p>
                    </div>
                    <div class="lsdota2_awardTitle">
                        中奖名单
                    </div>
                </div>
                <div style="padding: 0px 20px; height: 544px;width: 100%;margin-top: 34px;">
                    <!-- 抽奖 -->
                    <div class="dota2_main_box">
                        <img src="./images/activity_dota2/zhuanpan.png" alt="雷神加速器">
                        <img src="./images/activity_dota2/zhuandong.png" alt="雷神加速器" class="roll_table_dota2" id="roll_table">
                        <div class="lsdota_choujiangBtn">
                            <p class="lsdota_clickBtn" @click="onClickDraw">开始<br/>抽奖</p>
                        </div>
                    </div>
                    <!-- 获奖名单 -->
                    <div class="dota2_zjjl_box">
                        <div style="height:430px;overflow:hidden;">
                            <ul class="sj_zjjl_list" id="jilu_box">
                                <li v-for="(item, index) in awardList" :key="index"
                                    style="text-align: center;  font-size: 14px;margin-top:8px; height:30px;width: 100%;">
                                    <p style="color:#fff;text-align: left;">
                                        <span class="words_flow"
                                              style="display:inline-block;max-width: 140px;color:#CE9FE2;">恭喜</span>
                                        <span class="words_flow" style="display:inline-block;max-width: 140px;">{{item.nickname || item.mobile_num || item.mail}}</span>
                                        <span class="words_flow"
                                              style="display:inline-block;max-width: 140px; color:#CE9FE2;">获得{{item.title}}</span>
                                        <span class="words_flow"
                                              style="display:inline-block;max-width: 200px; color:#CE9FE2;"> {{item.create_time}}</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="lsdota2_buyBtn" @click="onClickAward" style="margin-top:24px;">中奖记录</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:345px; width: 1190px;margin: 0 auto;">
                <h3 style="font-size: 26px; color: #bc90d3;text-align: left;margin: 0px 0px 24px 0px;">活动说明：</h3>
                <div style="text-align: left;font-size: 14px;color: #bc90d3;line-height: 24px;">
                    <p class="lsdota2_shuomingDesc">
                        此活动只针对于雷神超级会员，海外会员不在此活动范围内！
                    </p>
                    1.活动时间：2019年8月9日15:30-2019年8月28日15:30<br>
                    2.活动期间用户在当前页面充值任意套餐可获得一次抽奖机会，100%中奖！<br>
                    3.抽奖奖品随机获得，不可进行退换！<br>
                    4.获得时长卡用户，直接在官网"个人中心-活动记录"页面点击自动领取进行兑换（仅限本人使用，不可转赠）！兑换截止到2019年8月28日24：00，请尽快使用！<br>
                    5.本活动游戏道具为赠送等值steam充值卡。（道具价格以页面标注价格为准，不受市场浮动影响）<br>
                    6.仅限通过本活动页面充值获得奖励，本活动不与其他优惠共享。如不通过本页面充值，视为放弃本次活动优惠。<br/>
                    7.活动页面抽奖机会仅限在活动期间使用，逾期清空作废！
                    <p style="margin-top:12px;"> 本次活动的最终解释权归上海雷神网络科技有限公司所有</p>
                </div>
            </div>
        </div>
        <!--时长中奖了-->
        <div class="activity_dialog" :class="{'vshide':!dialog_win}" v-if="activity_json.cj_success_type">
            <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_win}"
                 style="text-align: center">
                <div>
                    <a>
                        <i class="iconfont icon-cha" @click="closeDialog"
                           style="top: 59px;color: #fff;font-size:24px; right:32px;"></i>
                    </a>
                </div>
                <div class="activity_dialog_content">
                    <div class="flex_column_center" style="margin-top: 72px;color:#fff;">
                        <div style="font-size: 24px;padding: 0 20px;width: 100%;">
                            <p style="margin-bottom: 54px;color: #be8ee1;font-size:24px;">中奖啦！</p>
                            <p style="color: #be8ee1;font-size: 16px;line-height: 40px;">恭喜您获得</p>
                            <p>{{prize_name}}</p>
                        </div>
                        <p slot="footer" class="dialog-footer">
                            <a @click="onClickAward" class="lsdota2_buyBtn">去兑奖</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--错误提示-->
        <div class="activity_dialog" :class="{'vshide':!dialog_error}">
            <div class="activity_dialog_notice_out " :class="{'activity_dialog_notice_in':dialog_error}"
                 style="text-align: center">
                <div>
                    <a @click="closeDialog">
                        <i class="iconfont icon-cha" style="top: 59px;color: #fff;font-size:24px; right:32px;"></i>
                    </a>
                </div>
                <div class="activity_dialog_content">
                    <div class="flex_column_center" style="margin-top: 72px;color:#fff;">
                        <div style="font-size: 24px;padding: 0 20px;width: 100%;">
                            <p style="margin-bottom: 80px;color: #be8ee1;font-size:24px;">温馨提示</p>
                            <p>{{dialog_msg}}</p>
                        </div>
                        <p slot="footer" class="dialog-footer" style="margin: 20px 0px 0px 0px;">
                            <a @click="closeDialog" class="lsdota2_buyBtn">确认</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--提示充值-->
        <div class="activity_dialog" :class="{'vshide':!dialog_recharge}">
            <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_recharge}"
                 style="text-align: center">
                <div>
                    <a @click="onCloseRecharge" href="#recharge">
                        <i class="iconfont icon-cha" style="top: 59px;color: #fff;font-size:24px; right:32px;"></i>
                    </a>
                </div>
                <div class="activity_dialog_content">
                    <div class="flex_column_center" style="margin-top: 72px;color:#fff;">
                        <div style="font-size: 20px;padding: 0 20px;width: 100%;">
                            <p style="margin-bottom: 80px;color: #be8ee1;font-size:24px;">温馨提示</p>
                            <p>您还未充值，暂无抽奖机会</p>
                        </div>
                        <p slot="footer" class="dialog-footer" style="margin: 20px 0px 0px 0px;">
                            <a @click="onCloseRecharge" href="#recharge" class="lsdota2_buyBtn">去充值</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--充值弹框-->
        <recharge-dialog ref="to_recharge" @cannotbuy="cannotBuy" @paysuccess="paySuccess"
                         @loginout="tokenExpired"></recharge-dialog>

        <!--兑奖弹框-->
        <record-dialog ref="activeRecordList" themeclass="border_themeColor" @loginout="tokenExpired"
                       @refreshuserinfo="getAwardList"></record-dialog>

        <foot-nav class="other_foot_nav"></foot-nav>
    </div>
</div>
</body>
#include('./components/_kefu.html')
</html>
