<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
    <title>139元套餐限时特惠99元</title>
</head>

<body>
<div id="app" class="container_bgc">

    <!--顶部导航-->
    <head-nav v-on:changelanguage="onChangeLanguage" id="wuyi_top" @logined="logined" @logout="logout"
              ref="headnav"></head-nav>
    <div class="model_container">
        <img :src="activity_json.banner_bg_top" alt="雷神加速器" class="activity_main_banner">
    </div>

    <!--套餐推荐-->
    <div class="model_container">
        <img :src="activity_json.package_bg" alt="雷神加速器" class="activity_main_banner">
        <div class="package_row_box kx_package_box" style="margin-top: -170px;">
            <p style="font-size: 16px;padding-left: 488px;text-align: left;color: #fff;margin-top: 97px;">活动时间：2019年5月10日15:30-2019年5月29日15:30</p>
            <div class="th_recharge">
                <img class="recharge" src="images/preferential/th_recharge.png" alt="">
                <img class="recharge_hover" src="images/preferential/th_recharge_hover.png" alt="" @click="gotoRecharge">
            </div>
        </div>
    </div>

    <div class="activity_model_content content_bg" :class="{'model_left_content' : activity_json.joinLeft}">
        <p style="font-size: 24px;color: #ffffff;text-align: center;">充值99元以下套餐获得一次抽奖机会 <br>
            充值99元以上（包含99元）套餐获得两次抽奖机会 <br>100%中奖
        </p>
        <!--抽奖模块-->
        <div class="model_container" :class="{'model_left_container' : activity_json.joinLeft}">
            <div>
                <ul id="prize" class="th_prize_list" style="flex-wrap: wrap;align-content: flex-start;">
                    <li class="th_prize activity_prize_0" style="position: relative">
                        <img :src="activity_json.prize_list[0]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[0]" alt="雷神加速器" class="prize_active">
                    </li>
                    <li class="th_prize activity_prize_1" style="position: relative">
                        <img :src="activity_json.prize_list[1]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[1]" alt="雷神加速器" class="prize_active">
                    </li>
                    <li class="th_prize activity_prize_2" style="position: relative">
                        <img :src="activity_json.prize_list[2]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[2]" alt="雷神加速器" class="prize_active">
                    </li>
                    <li class="th_prize activity_prize_7" style="position: relative">
                        <img :src="activity_json.prize_list[7]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[7]" alt="雷神加速器" class="prize_active">
                    </li>
                    <li class="th_prize" style="position: relative" @click="onClickDraw">
                        <a class="throll">
                            <p style="font-size: 30px;color: #fff;">立即抽奖</p>
                            <p style="font-size: 16px;color: #fff;margin-top: 20px;">剩余{{aCount}}次抽奖机会</p>
                        </a>
                    </li>
                    <li class="th_prize activity_prize_3" style="position: relative">
                        <img :src="activity_json.prize_list[3]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[3]" alt="雷神加速器" class="prize_active">
                    </li>
                    <li class="th_prize activity_prize_6" style="position: relative">
                        <img :src="activity_json.prize_list[6]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[6]" alt="雷神加速器" class="prize_active">
                    </li>
                    <li class="th_prize activity_prize_5" style="position: relative">
                        <img :src="activity_json.prize_list[5]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[5]" alt="雷神加速器" class="prize_active" style="width: 302px;height: 184px;">
                    </li>
                    <li class="th_prize activity_prize_4" style="position: relative">
                        <img :src="activity_json.prize_list[4]" alt="雷神加速器" style="width: 100%;height: 100%;">
                        <img :src="activity_json.prize_active_img[4]" alt="雷神加速器" class="prize_active">
                    </li>

                </ul>
                <ul class="kx_prize_control" style="margin-top: 33px;">
                    <li class="th_btn">
                        <a href="https://www.leigod.com/notice/51255.html" style="width: 100%;height: 100%;color: #fff;" target="_blank">加入雷神游戏QQ群</a>
                    </li>
                    <li class="th_btn" @click="gotoDuijiang" style="margin-left: 110px;">中奖记录</li>
                </ul>
                <div class="kx_zjjl_list">
                    <ul id="jilu_box">
                        <li v-for="(item, index) in awardList" :key="index" style="text-align: center;">
                            <p class="jilu_font" style="color: #fff;text-align: center;">
                                <span>恭喜</span>
                                <span class="pos_jilu_list">{{item.nickname || item.mobile_num || item.mail}}</span>
                                <span class="pos_jilu_list">获得</span>
                                <span class="pos_jilu_list">{{item.title}}</span>
                                <span>{{item.create_time}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--活动规则-->
        <div class="model_container" :class="{'model_left_container' : activity_json.joinLeft}" style="margin-top: 20px;margin-bottom: 20px;">
            <div style="text-align: left;width: 1200px;height: 408px;margin: 145px auto 0;padding: 40px;box-sizing: border-box;color: #fff;">
                <h3 style="font-size: 24px;">活动说明：</h3>
                <p style="margin-top: 40px;font-size: 14px;">
                    此活动只针对于雷神超级会员，海外会员不在此活动范围内！<br>
                    参与活动前请仔细阅读活动规则<br>
                    1.活动时间：2019年5月10日15:30-2019年5月29日15:30<br>
                    2.活动期间用户充值99元以下套餐获得一次抽奖机会，充值99元以上（包含99元）套餐可获得两次抽奖机会，100%中奖！<br>
                    3.抽奖奖品随机获得，不可进行退换！<br>
                    4.抽中实物的用户在弹窗内详细填写相关信息，奖品将在活动结束内的7个工作日内进行邮寄发放。<br>
                    5.抽中游戏道具的玩家请自行根据页面提供的卡密到游戏官网进行激活使用。<br>
                    6.获得时长卡用户，直接在官网"个人中心-活动记录"页面进行兑换，时长卡有效期至2019年5月29日24:00，请尽快完成兑换！<br>
                    7.活动页面抽奖机会仅限在活动期间使用，逾期清空作废！
                </p>
                <p style="margin-top: 40px;font-size: 16px;">本次活动的最终解释权归上海雷神网络科技有限公司所有 </p>
            </div>
        </div>

        <!--微博微信-->
        <div class="weibo_weixin">
            <img src="images/preferential/th_weibo.png" alt="">
            <img src="images/preferential/th_weixin.png" alt="" style="margin-top: 10px;">
        </div>
    </div>

    <!--中奖了-->
    <div class="activity_dialog" :class="{'vshide':!dialog_win}" v-if="activity_json.cj_success_type">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_win}" style="text-align: center;">
            <div class="activity_dialog_content">
                <p class="activity_dialog_title" style="line-height: 59px;font-size: 26px;">中奖啦</p>
                <div class="flex_column_center" style="font-size: 16px;">
                    <p class="activity_dialog_notice_msg" style="margin-top: 100px;padding: 0 20px;font-size: 16px;">恭喜您抽中</p>
                    <p class="activity_dialog_notice_msg" style="font-size:24px;margin-top: 10px;">{{dialog_msg}}</p>
                    <span slot="footer" class="dialog-footer" style="margin-top: 50px;">
                        <a @click="closeDialog" class="th_dialog_btn">再抽一次</a>
                        <a class="th_dialog_btn" @click="gotoDuijiang">去兑奖</a>
                    </span>
                </div>
            </div>
            <div class="activity_dialog_close" @click="closeDialog" style="top: 20px;right: 20px;width: 27px;height: 27px;">
                <img :src="activity_json.dialog_close_bg" alt="">
            </div>
        </div>
    </div>

    <!--错误提示-->
    <div class="activity_dialog" :class="{'vshide':!dialog_error}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_error}" style="text-align: center;">
            <div class="activity_dialog_content">
                <p class="activity_dialog_title" style="line-height: 59px;font-size: 26px;">温馨提示</p>
                <p class="activity_dialog_notice_msg" style="font-size: 16px;padding: 0 50px;">{{dialog_msg}}</p>
                <div slot="footer" class="dialog-footer" style="margin-top: 50px;">
                    <a @click="closeDialog" class="th_dialog_btn">确定</a>
                </div>
            </div>
            <div class="activity_dialog_close" @click="closeDialog" style="top: 20px;right: 20px;width: 27px;height: 27px;">
                <img :src="activity_json.dialog_close_bg" alt="">
            </div>
        </div>
    </div>

    <!--提示充值-->
    <div class="activity_dialog" :class="{'vshide':!dialog_recharge}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_recharge}" style="text-align: center">
            <div class="activity_dialog_content">
                <p class="activity_dialog_title" style="line-height: 59px;font-size: 26px;">温馨提示</p>
                <div class="flex_column_center">
                    <p class="activity_dialog_notice_msg"
                       style="font-size: 16px;">您还未购买抽奖套餐，暂不能参与抽奖 !</p>
                    <p slot="footer" class="dialog-footer" style="margin-top: 50px;">
                        <a @click="gotoRecharge" class="th_dialog_btn">立即充值</a>
                    </p>
                </div>
            </div>
            <div class="activity_dialog_close" @click="onCloseRecharge" style="top: 20px;right: 20px;width: 27px;height: 27px;">
                <img :src="activity_json.dialog_close_bg" alt="">
            </div>
        </div>
    </div>

    <!--未登录提醒-->
    <div class="activity_dialog" :class="{'vshide':!dialog_no_login}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_no_login}" style="text-align: center;">
            <div class="activity_dialog_content">
                <p class="activity_dialog_title" style="line-height: 66px;font-size: 26px;">温馨提示</p>
                <p class="activity_dialog_notice_msg" style="font-size: 16px;">您还未登录<br/>请登录后再参与活动, 谢谢</p>
                <div slot="footer" class="dialog-footer" style="margin-top: 50px;">
                    <a @click="gotoLogin" class="th_dialog_btn">立即登录</a>
                </div>
            </div>
            <div class="activity_dialog_close" @click="onCloseNologin" style="top: 20px;right: 20px;width: 27px;height: 27px;">
                <img :src="activity_json.dialog_close_bg" alt="">
            </div>
        </div>
    </div>

    <!--活动规则弹窗-->
    <div class="activity_dialog" :class="{'vshide':!dialog_guize}" v-if="activity_json.guizejilutype == 1">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_guize}" style="text-align: center;">
            <img :src="activity_json.dialog_guize_bg" alt="雷神加速器">
            <div class="activity_dialog_title_box">
                <img :src="activity_json.dialog_title_bg" alt="雷神加速器">
                <p class="activity_dialog_title" style="line-height: 59px;font-size: 26px;color: #101859;">活动规则</p>
            </div>
            <div class="activity_dialog_content">
                <div class="kx_activityinfo">
                    <ul style="list-style: circle inside;margin-top: 20px;">
                        <li style="margin-bottom: 15px;">
                            <p class="pos_kx_wenzi">【活动时间】</p>
                            <p class="pos_kx_con" style="width: 100%">2019年2月21日15:30~2019年3月11日15:30</p>
                        </li>
                        <li style="margin-bottom: 15px;">
                            <p class="pos_kx_wenzi">【如何抽奖】</p>
                            <div class="pos_kx_con" style="width: 100%">
                                <p>每购买一次套餐可获得1次抽奖机会，购买8760小时套餐可获得3次抽奖机会。（邀请好友注册购买可获得同等抽奖机会）奖品数量有限，先到先得。</p>
                            </div>
                        </li>
                        <li style="margin-bottom: 15px;">
                            <p class="pos_kx_wenzi">【奖品发放】</p>
                            <div class="pos_kx_con" style="width: 100%">
                                <p>1、活动期间，抽中实物奖品请您根据中奖提示添加发奖客服微信
                                    <span style="color: #ff78df">（微信号： service6000）</span>领取奖品</p>
                                <p style="margin-top: 10px;">2、官网页面抽中时长卡用户，直接在官网"个人中心-活动记录"页面进行兑换。</p>
                                <p style="margin-top: 10px;">3、App和微信公众号中活动页面抽中时长卡用户，请访问雷神加速器PC官网(www.leigod.com )登陆至"会员中心--活动记录"页面进行兑换。</p>
                                <p style="margin-top: 10px;">4、活动积分抽奖机会截止时间为本次活动结束时间（2019年3月11日15：30），逾期清空作废；</p>
                                <p style="margin-top: 10px;">5、本次活动的最终解释权归上海雷神网络科技有限公司所有。</p>
                                <p style="margin-top: 10px;">（实物奖品颜色随机发放，请您及时与发奖客服进行联系，逾期将停止兑奖）</p>
                            </div>
                        </li>
                        <li>
                            <p class="pos_kx_wenzi">【注意事项】</p>
                            <div class="pos_kx_con" style="width: 100%">
                                <p>1、此活动只针对于雷神超级会员，海外会员不在此活动范围内</p>
                                <p style="margin-top: 10px;">2、参与活动前请仔细阅读活动规则</p>
                                <p style="margin-top: 10px;">3、请扫描添加发奖客服微信</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="activity_dialog_close" @click="onCloseGuize" style="top: -20px;right: -20px;width: 67px;height: 67px;">
                <img :src="activity_json.dialog_close_bg" alt="">
            </div>
        </div>
    </div>

    <foot-nav class="other_foot_nav"></foot-nav>

    <!--充值弹框-->
    <!--<recharge-dialog ref="to_recharge" :chooseinfo="userInfo"></recharge-dialog>-->
</div>
</body>
<!-- 客服-->
#include('./components/_kefu.html')
<!--<script type="text/javascript" charset="utf-8" src="/static/bshare_css.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="/static/sharejs.js"></script>-->

</html>
