<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <title>雷神暑期福利大放送</title>
</head>
<body class="lsshujia_container_bgc">
<div id="app">
    <div>
        <!--顶部导航-->
        <head-nav v-on:changelanguage="onChangeLanguage" id="page_top" @logined="logined" @logout="logout"
                  ref="headnav"></head-nav>
        <div class="model_container">
            <img :src="activity_json.banner_bg_top" alt="雷神加速器" class="activity_main_banner">
            <img class="shujia_banner_title" :src="activity_json.banner_title" alt="">
            <h2 class="shujia_time_period">活动时间：2019年7月26日15:30-2019年8月20日15:30</h2>
        </div>
        <div class="model_container">
            <img :src="activity_json.banner_bg_bottom" alt="雷神加速器" class="activity_main_banner">
            <p class="shujia_banner_desc" id="recharge">本活动仅限在本页面进行充值的用户参加</p>
        </div>
        <div class="model_container" style="height:162px;background-color: #234C41">
            <!--套餐推荐-->
            <div>
                    <ul class="flex_row_center" style="align-items: flex-end;" v-if="currentPacakge.price.length>0">
                        <li class="shujia_package" @click="gotoRecharge(currentPacakge.price[0])" style="margin-left:0px;">
                            <div class="packageNowBill">
                                <span class="spanHour">{{currentPacakge.price[0].price_title}}小时</span>
                                <span class="spanMoney">{{currentPacakge.price[0].price_num}}元</span>
                            </div>
                            <div class="packageDiscount">
                                <h2 style="font-size:18px;">折扣价：{{currentPacakge.price[0].price_short_desc}}</h2>
                                <p style="height:2px; background-color:#234C41;position: relative;top: -14px;"></p>
                            </div>
                        </li>
                        <li class="shujia_package" @click="gotoRecharge(currentPacakge.price[1])">
                            <div class="packageNowBill">
                                <span class="spanHour">{{currentPacakge.price[1].price_title}}小时</span>
                                <span class="spanMoney">{{currentPacakge.price[1].price_num}}元</span>
                            </div>
                            <div class="packageDiscount">
                                <h2 style="font-size:18px;">原价：{{currentPacakge.price[1].price_short_desc}}</h2>
                                <p style="height:2px; background-color:#234C41;position: relative;top: -14px;"></p>
                            </div>
                        </li>
                        <li class="shujia_package" @click="gotoRecharge(currentPacakge.price[2])">
                            <div class="packageNowBill">
                                <span class="spanHour">{{currentPacakge.price[2].price_title}}小时</span>
                                <span class="spanMoney">{{currentPacakge.price[2].price_num}}元</span>
                            </div>
                            <div class="packageDiscount">
                                <h2 style="font-size:18px;">原价：{{currentPacakge.price[2].price_short_desc}}</h2>
                                <p style="height:2px; background-color:#234C41;position: relative;top: -14px;"></p>
                            </div>
                        </li>
                        <li class="shujia_package" @click="gotoRecharge(currentPacakge.price[3])">
                            <div class="packageNowBill">
                                <span class="spanHour">{{currentPacakge.price[3].price_title}}小时</span>
                                <span class="spanMoney">{{currentPacakge.price[3].price_num}}元</span>
                            </div>
                            <div class="packageDiscount">
                                <h2 style="font-size:18px;">原价：{{currentPacakge.price[3].price_short_desc}}</h2>
                                <p style="height:2px; background-color:#234C41;position: relative;top: -14px;"></p>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="model_container" style="background-color: #234C41;">
            <!--抽奖模块-->
            <div style="height:518px;width:1190px;margin: 0 auto;padding: 8px 6px;box-sizing:border-box;border: 5px solid #1A3B32;">
                    <!-- 抽奖 -->
                    <div class="shujia_main_box">
                        <ul id="prize" class="hj_activity_json.prize_list flex_row_start" style="flex-wrap: wrap;align-content: flex-start;">
                            <li class="sj_prize activity_prize_0" :style="{background:'url('+activity_json.prize_list[0]+')'}">
                                <div class="prize_check"></div>
                            </li>
                            <li class="sj_prize activity_prize_1" :style="{background:'url('+activity_json.prize_list[1]+')'}">
                                <div class="prize_check"></div>
                            </li>
                            <li class="sj_prize activity_prize_2" :style="{background:'url('+activity_json.prize_list[2]+')'}">
                                <div class="prize_check"></div>
                            </li>
                            <li class="sj_prize activity_prize_5" :style="{background:'url('+activity_json.prize_list[5]+')'}">
                                <div class="prize_check"></div>
                            </li>
                            <li class="sj_prize activity_prize_4" :style="{background:'url('+activity_json.prize_list[4]+')'}">
                                <div class="prize_check"></div>
                            </li>
                            <li class="sj_prize activity_prize_3" :style="{background:'url('+activity_json.prize_list[3]+')'}">
                                <div class="prize_check"></div>
                            </li>
                        </ul>
                        <ul class="hj_prize_control flex_row_start">
                            <li class="sj_zjjl" @click="onClickAward"></li>
                            <li class="sj_start" @click="onClickDraw" style="position:relative;">
                                <p style="font-size: 14px;line-height: 20px;position:absolute;bottom:4px; text-align: center;width: 100%;">剩余抽奖次数：{{aCount}}次</p>
                            </li>
                        </ul>

                    </div>
                    <!-- 获奖名单 -->
                    <div class="shujia_zjjl_box">
                        <p style="font-size: 20px;color:#fff;text-align: center;line-height: 56px;font-weight: bold;">获奖名单</p>
                        <div style="height:412px;overflow:hidden;">
                            <ul class="sj_zjjl_list" id="jilu_box" >
                                <li v-for="(item, index) in awardList" :key="index" style="text-align: center;  font-size: 14px;margin-top:8px; height:56px;width: 100%;">
                                    <p style="color:#588E80;text-align: left;">{{item.create_time}}</p>
                                    <p style="color:#fff;text-align: left;">
                                        <span class="words_flow" style="display:inline-block;max-width: 140px;">恭喜{{item.nickname || item.mobile_num || item.mail}}</span>
                                        <span class="words_flow" style="display:inline-block;max-width: 200px;">获得{{item.title}}</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
           <div style="height:345px; width: 1190px;margin: 0 auto;">
               <h3 style="font-size: 18px; color: #fec500;text-align: left;margin: 42px 0px 24px 0px;">活动说明</h3>
               <div style="text-align: left;font-size: 14px;color: #fff;line-height: 24px;">
                   <p style="margin-bottom: 12px;">此活动只针对于雷神超级会员，海外会员不在此活动范围内！</p>
                   参与活动前请仔细阅读活动规则:<br>
                   1.活动时间：2019年7月26日15:30-2019年8月20日15:30<br>
                   2.活动期间用户充值任意套餐可获得一次抽奖机会，100%中奖！<br>
                   3.抽奖奖品随机获得，不可进行退换！<br>
                   4.获得时长卡用户，直接在官网"个人中心-活动记录"页面点击自动领取进行兑换（仅限本人使用，不可转赠）！兑换截止到2019年8月20日24：00，请尽快使用！<br>
                   5.本活动游戏道具为赠送等值steam充值卡。（道具价格以页面标注价格为准，不受市场浮动影响）<br>
                   6.仅限通过本活动页面充值获得奖励，本活动不与其他优惠共享。如不通过本页面充值，视为放弃本次活动优惠。<br/>
                   7.活动页面抽奖机会仅限在活动期间使用，逾期清空作废！
                  <p style="margin-top:12px;"> 本次活动的最终解释权归上海雷神网络科技有限公司所有</p>
               </div>
           </div>
        </div>
        <!--时长中奖了-->
        <div class="activity_dialog" :class="{'vshide':!dialog_win}" v-if="activity_json.cj_success_type">
            <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_win}"
                 style="text-align: center">
                <div>
                    <a @click="closeDialog" style="float: right;margin: 8px;"><img src="./images/shujia/close.png" alt=""></a>
                </div>
                <div class="activity_dialog_content">
                    <div class="flex_column_center" style="margin-top: 42px;color:#fff;">
                        <div style="font-size: 20px;padding: 0 20px;width: 100%;">
                            <p style="margin-bottom: 90px;">恭喜您获得奖品</p>
                            <p>{{prize_name}}</p>
                        </div>
                        <p slot="footer" class="dialog-footer" style="margin: 80px 0px 0px 0px;">
                            <a @click="gotoDuijiang" class="shujia_dialog_btn">去兑奖</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--错误提示-->
        <div class="activity_dialog" :class="{'vshide':!dialog_error}">
            <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_error}"
                 style="text-align: center">
                <div>
                    <a @click="closeDialog" style="float: right;margin: 8px;"><img src="./images/shujia/close.png" alt=""></a>
                </div>
                <div class="activity_dialog_content">
                    <div class="flex_column_center" style="margin-top: 42px;color:#fff;">
                        <div style="font-size: 20px;padding: 0 20px;width: 100%;">
                            <p style="margin-bottom: 90px;">温馨提示</p>
                            <p>{{dialog_msg}}</p>
                        </div>
                        <p slot="footer" class="dialog-footer" style="margin: 80px 0px 0px 0px;">
                            <a @click="closeDialog" class="shujia_dialog_btn">确认</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--提示充值-->
        <div class="activity_dialog" :class="{'vshide':!dialog_recharge}">
            <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_recharge}"
                 style="text-align: center">
                <div>
                    <a @click="onCloseRecharge" style="float: right;margin: 8px;" href="#recharge"><img src="./images/shujia/close.png" alt=""></a>
                </div>
                <div class="activity_dialog_content">
                    <div class="flex_column_center" style="margin-top: 42px;color:#fff;">
                        <div style="font-size: 20px;padding: 0 20px;width: 100%;">
                           <p style="margin-bottom: 90px;">温馨提示</p>
                           <p>您还未充值，暂无抽奖机会</p>
                        </div>
                        <p slot="footer" class="dialog-footer" style="margin: 80px 0px 0px 0px;">
                            <a @click="onCloseRecharge" href="#recharge" class="shujia_dialog_btn">去充值</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--充值弹框-->
        <recharge-dialog ref="to_recharge" @paysuccess="logined" @loginout="tokenExpired" :chooseinfo="userInfo"></recharge-dialog>

        <!--兑奖弹框-->
        <record-dialog ref="activeRecordList" @loginout="tokenExpired" @refreshuserinfo="getAwardList"></record-dialog>

        <foot-nav class="other_foot_nav"></foot-nav>
    </div>
</div>
</body>
#include('./components/_kefu.html')
</html>
